<div data-yield-for="header01" >
    <h1>hola mundo</h1>
</div>
<form id="frmGrupos" class="form-basic" >
    <div class="group" >
        <input type="number" readonly class="small" required >
        <span class="hightlight" ></span>
        <span class="bar" ></span>
        <label>Codigo</label>
    </div>
    <div class="group" >
      <input type="text" class="large" required>
      <span class="hightlight" ></span>
      <span class="bar" ></span>
      <label>Descripcion</label>
    </div>
     <div class="group" >
      <input type="date" class="medium" required>
      <span class="hightlight" ></span>
      <span class="bar" ></span>
      <label>Fecha</label>
    </div>
</form>
<div data-yield-for="footer01" >
  <p>estoy en footer<p>
</div>
